@import '../utils/mixins.scss';

*{
    font-family: "Big Shoulders Stencil Text" , "Roboto", sans-serif;
}

body {
    @include template;
}

.main {
    text-align: center;
}

.confirm {
    color:  chartreuse;
}


.order__article{
    margin: auto;
    border-bottom: 3px solid chartreuse;
    width: 40%;
    h3 {
        font-size: 1.5rem;
    }
    .id {
        font-size: 1.3rem;
    }
    .price {
        font-size: 1.3rem;
        span {
            color: chartreuse;
        }
    }
}



.loader__outer{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 25%;
    border: 3px solid chartreuse;
    animation: loader-outer 5s infinite;
    visibility: hidden
  }
  .loader__inner{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    border: 2px solid rgb(255, 0, 221);
    animation: loader-inner 1.5s infinite;
    
  }

.recap{
  background-color: chartreuse;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: .5rem 1rem;
}
  .fa-arrow-right{
    color: chartreuse;
  }
  
  // Media queries
  
  @keyframes loader-outer {
    0%{
      border: 3px solid chartreuse;
    }
    50%{
      border: 3px solid purple;
      transform: scale(0.55);
    }
    100%{
      border: 3px solid chartreuse;
    }
  }
  
  @keyframes loader-inner {
    0%{
      border: 3px solid purple;
     
      
    }
    50%{
      border: 3px solid chartreuse;
      transform: scale(0.55);
    }
    100%{
      border: 3px solid purple;
    }
  }
  

.footer {
    margin-top: 6rem;
   border-top: 5px solid chartreuse;
   border-bottom: 5px solid chartreuse;  
   height: 350px;
   display: flex;
   justify-content: center;

   section {
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
   }
}

