<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet"
  />
    <link rel="stylesheet" href="/public/style/template/header/header.css">
    <link rel="stylesheet" href="/public/style/confirmation/confirmation.css">
    <script src="../public/javascript/confirmation.js" defer></script>
    <title>Document</title>
</head>
<body>
  <header class="header">
    <h1> <a href="../index.html"> LOGO E-COMMERCE</a></h1>
    <nav>
      <ul>
        <li><a href="./panier.html">PANIER</a> <span class="counter">0</span></li>
      </ul>
    </nav>
  </header>

    <main class="main">
      <h1>ORINOCO <span class="confirm">CONFIRMATION </span>D'ACHAT</h1>
      <section class="render__order">
      </section>
      <section>
        <h2><a href="./produits.html">Continuez vos achats</a></h2>
      </section>
    </main>
    
    <footer class="footer">
        <section>
          <h2>ORINOCO BOUTIQUE EN LIGNE</h2>
          <p>Adresse : 50 rue du bidule Paris</p>
          <p>Contact : <a title="orinoco@bidule.com" href="mailto:orinoco@bidule.com">orinoco@bidule.com</a></p>
          <p> Copyright ORINOCO TOUS DROITS RESERVÉS &copy;</p>
        </section>
      </footer>
</body>
</html>

