<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- Font-awesome CDN -->
    <script src="https://kit.fontawesome.com/ef05bd29a1.js" crossorigin="anonymous" defer ></script>
    <link rel="stylesheet" href="../public/style/template/header/header.css">
    <link rel="stylesheet" href="../public/style/index/index.css" />
    <script src="../public/javascript/index.js" defer></script>
    <title>ORO?OCA</title>
  </head>
  <body>
    <header class="header">
      <h1> <a href="../index.html"> ORINOCO E-SHOP</a></h1>
      <nav>
        <ul>
          <li>
            <a href="./panier.html">PANIER </a>
            <code class="counter">0</code>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <section class="all">
        <h2>NOS BEAUX APPAREILS PHOTO</h2>
        <div class="card__holder"></div>
      </section>
   </main>
    <footer class="footer">
      <section>
        <h2>ORINOCO BOUTIQUE EN LIGNE</h2>
        <p>Adresse : 50 rue du bidule Paris</p>
        <p>Contact : <a title="orinoco@bidule.com" href="mailto:orinoco@bidule.com">orinoco@bidule.com</a></p>
        <p> Copyright ORINOCO TOUS DROITS RESERVÉS &copy;</p>
      </section>
  </footer>
  </body>
</html>
