* {
  text-transform: uppercase;
  font-family: "Big Shoulders Stencil Text";
}

.panier-item__holder {
  padding: 0 1rem;
}
.panier-item__holder h3, .panier-item__holder p {
  margin: 0rem 2rem 0 2rem;
  padding: 0;
  display: inline-block;
}

.cart__article {
  margin: auto;
  text-align: center;
  border-bottom: 5px solid chartreuse;
  width: 80%;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 5px solid chartreuse;
}

.quantity__holder {
  display: flex;
  width: 12rem;
  align-items: center;
  justify-content: space-between;
}

.quantity {
  display: inline;
  padding: 0.3rem 0;
  margin: 0;
  width: 80px;
  border-radius: 3px;
  text-align: center;
}
.quantity:hover {
  transform: none;
}

.card__detail {
  width: 15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card__detail p, .card__detail h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.trash__holder {
  cursor: pointer;
}
.trash__holder i {
  color: crimson;
}

.flexbox__image {
  width: 150px;
}
.flexbox__image a img {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.price__holder {
  text-align: center;
  font-size: 1.5rem;
}

.delete__holder {
  margin-top: 1rem;
  text-align: center;
}
.delete__holder button {
  transition: 0.3s;
  border: none;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  outline: none;
}
.delete__holder button:hover {
  background-color: crimson;
}

.formulaire {
  width: 50%;
  margin: auto;
}

form {
  width: 100%;
}

.form-group {
  width: inherit;
}

label, input {
  display: block;
  width: inherit;
  border-radius: 10px;
}

label {
  text-align: center;
  font-size: 1.5rem;
}

input {
  color: white !important;
  background-color: #646464;
  font-size: 1.3rem;
  padding: 1.1rem 0;
  border: none;
  margin: 1rem 0;
  transition: 0.3s;
  outline: none;
}

input:hover, input:focus {
  box-shadow: 1px 1px 0px 1px black;
  transform: scale(1) translate(-3px, -3px);
}

.btn-submit {
  display: block;
  width: 50%;
  margin: auto;
  cursor: pointer;
  border-radius: 5px;
  background-color: chartreuse;
  border: none;
}

::placeholder {
  padding: 0 2rem;
}

.loader__outer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 25%;
  border: 3px solid chartreuse;
  animation: loader-outer 5s infinite;
  visibility: hidden;
}

.loader__inner {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  border: 2px solid #ff00dd;
  animation: loader-inner 1.5s infinite;
}

@keyframes loader-outer {
  0% {
    border: 3px solid chartreuse;
  }
  50% {
    border: 3px solid purple;
    transform: scale(0.55);
  }
  100% {
    border: 3px solid chartreuse;
  }
}
@keyframes loader-inner {
  0% {
    border: 3px solid purple;
  }
  50% {
    border: 3px solid chartreuse;
    transform: scale(0.55);
  }
  100% {
    border: 3px solid purple;
  }
}
@media screen and (max-width: 1200px) {
  .cart__article {
    width: 100%;
  }

  .card__detail {
    width: 6rem;
  }
  .card__detail p, .card__detail h3 {
    margin: 0;
    font-size: 0.8rem;
  }

  .price__holder {
    text-align: center;
    font-size: 1.2rem;
  }

  .formulaire {
    margin: auto;
    width: 95%;
  }
}

/*# sourceMappingURL=panier.css.map */
