@import '../utils/mixins.scss';

*{
    font-family: "Big Shoulders Stencil Text";
}
body {
    @include template
}

.counter {
    color: chartreuse;
    font-size: 1.3rem;
    font-weight: 700;
  }

.main{
    text-align: center;
    h2{
        font-size: 4rem;
    }
}

.card {
    margin-top: 3rem;
    width: 100%;
   
}
.card__img{
    img{
        width: 800px;
        height:    auto;
        border-radius: 15px;
        box-shadow: 8px 8px 5px 0px chartreuse;
    }
}

.card__info{
    h3 {
        font-size: 2rem;
        letter-spacing: .3rem;
    }
    p{
        font-size: 1.8rem;
        
        strong {
            color: chartreuse;
        }
    }
}

.footer {
    margin-top: 6rem;
   border-top: 5px solid chartreuse;
   border-bottom: 5px solid chartreuse;  
   height: 350px;
   display: flex;
   justify-content: center;

   section {
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
   }
}

@media screen and (max-width: 800px){
    .main{
        h2{
            font-size: 2rem;
        }
    }

    .card{
        margin: auto;
        width: 20rem;
    }

    .card__img{
        img{
            width: 20rem;
        }
    }
}